* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: TT Norms pro, Arial, sans-serif;
    color: white;
}

/* Nav-bar & Toggler */

.hamburger-icon {
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    transition: all 0.4s ease;
    background-color: #511886;
}


.hamburger-icon {
    border: none;
    background-color: transparent;
}

.hamburger-icon .fa-bars,
.hamburger-icon .fa-x {
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.hamburger-icon input[type="checkbox"] {
    appearance: none;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navigation a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.navigation li a:hover {
    color: grey;
}

.navigation .button {
    background-color: #511886;
    border: 2px solid #dbe65b;
    color: white;
    padding: 15px;
    text-align: center;
    display: inline-block;
    margin: 2px;
    border-radius: 50px;
}

@media screen and (max-width: 750px) {
    header {
        display: block;
    }

    .navigation {
        height: 0;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease-in-out;
    }

    .logo {
        display: flex;
        justify-content: space-between;
    }

    .hamburger-icon {
        display: block;
    }

    .hamburger-icon .fa-x {
        display: none;
    }

    header:has(.hamburger-icon input[type="checkbox"]:checked) .navigation {
        margin-top: 1rem;
        height: 180px;
    }

    header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-bars {
        display: none;
    }

    header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-x {
        display: inline-block;
    }
}